.board .first-row div:nth-child(2n){
    background-color: #b8b8b8;
}
.board{
   width: 960px;
   height: 120px;
   margin: auto;
}

.board .second-row div:last-child{
    margin-left: auto;
}
.board .second-row div:first-child{
    background-color: #b8b8b8;
}

.box{
    border: 1px solid black;
    height: 120px;
    width: 120px;
    box-sizing: border-box;
}
.board .third-row div:last-child{
    margin-left: auto;
    background-color :#b8b8b8;;
}

.board .last-row div:nth-child(odd){
    background-color: #b8b8b8;
}
.row{
    display: flex;
}
#buy-item--action, #skip-item--action {
    display : none;
}
